padder($size)
    box-sizing border-box
    border-width $size
    border-style solid
    border-color transparent

padding_classes()
    &.pad3mm
        padder(.3cm)

    &.pad5mm
       padder(.5cm)
    
    &.pad7mm
        padder(.7cm)
    
    &.pad1cm
        padder(1cm)

register_size($label, $width, $height)
    &.vertical article.{$label}
    article.{$label}.vertical
        width min($width, $height)
        height (max($width, $height) - 0.05cm)
        
        padding_classes()
        
    &.horizonal article.{$label}
    article.{$label}.horizonal
        width max($width, $height)
        height min($width, $height)
        
        padding_classes()