@css{html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}body{line-height:1;color:#000;background:url("#fff")}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0;vertical-align:middle}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}a img{border:none}}
@import "nocompile/functions"
@import "nocompile/markdown"

// config
$color_error = #ef4a5e

[data-json-id]
[data-tpl-expand]
[data-tpl-id]
    display none
    visibility hidden

body
    margin 20px 0
    
    &:not(.vertical):not(.horizonal)::before
        content "body要素に用紙の向きが指定されていません" "(verticalもしくはhorizonalをclass属性に含めてください)"
        
        position absolute
        right 0
        padding 4px
        z-index 100
        
        font-size 14px
        line-height 1.2
        
        border-bottom-left-radius 5px
        
        color $color_error
        background-color rgba($color_error + #888, .95)
    
    register_size($label:"a4", $width: 21cm, $height: 29.7cm)
    
    
    > article
        position relative
        margin 0 auto 5px
        
        box-shadow 0 0 5px rgba(0, 0, 0, .2)
        
        overflow visible 
        
        page-break-inside avoid
        page-break-before avoid
        page-break-after always
        
        &:not(.a4)::before
            content "用紙サイズが指定されていません"
            
            position absolute
            z-index 99
            padding 4px
            
            font-size 14px
            line-height 1.2
            
            border-bottom-right-radius 5px
            
            color $color_error
            background-color rgba($color_error + #888, .95)
        
        &:last-child
            margin-bottom 0
            page-break-after avoid

@media print
    body
        margin 0
        
        > article
            margin 0 auto
            box-shadow none
            overflow hidden